<div id="regist-form-doctor">
    <form action="">
        <div class="f-title">
            <h1>Informacion Consulta Paciente</h1>
        </div>
        <div class="f-subtitle">
            <h2>Informacion General</h2>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="sintomas">Sintomas:</label>
                <textarea name="sintomas" id="sintomas" [(ngModel)]="consulta.sintomas" placeholder="Sintomas...." readonly></textarea>
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="anot">Anotaciones:</label>
                <textarea name="anot" id="anot" [(ngModel)]="consulta.anotaciones" placeholder="Anotaciones...." readonly></textarea>
            </div>
            <hr>
        </div>
        <div class="f-subtitle">
            <h2>Signos Vitales</h2>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="presion">Presion Arterial:</label>
                <input type="number" id="presion" name="presion" [(ngModel)]="presionArt.medida" readonly>
            </div>
            <div class="f-data">
                <label for="resp">Respiracion:</label>
                <input type="number" id="resp" name="resp" [(ngModel)]="resp.medida" readonly>
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="pulso">Pulso:</label>
                <input type="number" id="pulso" name="pulso" [(ngModel)]="pulso.medida" readonly>
            </div>
            <div class="f-data">
                <label for="apellido">Temperatura:</label>
                <input type="password" id="apellido" name="apellido" [(ngModel)]="temp.medida"  readonly>
            </div>
            <hr>
        </div>
        <div class="f-subtitle">
            <h2>Historial Medico</h2>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="alergias">Alergias:</label>
                <textarea name="alergias" id="alergias" [(ngModel)]="historial.alergias" placeholder="Alergias...." readonly></textarea>
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="ecronic">Enfermedades Cronicas:</label>
                <textarea name="ecronic" id="ecronic" [(ngModel)]="historial.enf_cronicas" placeholder="Enfermedades Cronicas...." readonly></textarea>
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="egen">Enfermedades Geneticas:</label>
                <textarea name="egen" id="egen" [(ngModel)]="historial.enf_geneticas" placeholder="Enfermedades Geneticas...." readonly></textarea>
            </div>
        </div>
    </form>
</div>

