<div id="regist-form-doctor">
    <form action="" (submit)="registrar()">
        <div class="f-title">
            <h1>Registro Ayudante</h1>
        </div>
        <div class="f-subtitle">
            <h2>Cuenta</h2>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="uname">Username:</label>
                <input type="text" id="uname" name="uname" [(ngModel)]="personal.username" placeholder="Username" required>
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" [(ngModel)]="personal.email" placeholder="Ex. vacre@gmail.com" required>
            </div>
            <div class="f-data">
                <label for="vemail">Verify Email:</label>
                <input type="email" id="vemail" name="vemail" placeholder="Ex. vacre@gmail.com" required>
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="pswd">Password:</label>
                <input type="password" id="pswd" name="pswd" [(ngModel)]="personal.password" placeholder="Password" required>
            </div>
            <div class="f-data">
                <label for="vpswd">Verify Password:</label>
                <input type="password" id="vpswd" name="vpswd" placeholder="Password" required>
            </div>
            <hr>
        </div>
        <div class="f-subtitle">
            <h2>Informacion Personal</h2>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" [(ngModel)]="ayudante.nombre" placeholder="Nombre" required>
            </div>
            <div class="f-data">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" [(ngModel)]="ayudante.apellido" placeholder="Apellido" required>
            </div>
        </div>
        <div class="f-subtitle">
            <h2>Informacion Unidad</h2>
        </div>
        <div class="container dflex " >
            <div class="f-data">
                <label for="pais">Unidad Medica:</label>
                <select name="unid" id="unid" [(ngModel)]="selectUnid.nombre">
                    <option *ngFor="let espex of unidades;" >{{espex.nombre}}</option>
                </select>
            </div>
        </div>
        <div *ngIf="id==''">
            <input type="submit" id="reg" class="btn btn-primary" value="Registrar">
        </div>
        <div *ngIf="id!=''">
            <input type="submit" id="reg" class="btn btn-primary" value="Modificar">
        </div>
    </form>
</div>

