<div class="container-fluid" id="panel">
    <div class="container-fluid" id="info-admin">
        <div id="profile-photo" class="d-flex">
            <i class="fas fa-user-cog profile"></i>
            <p>Doctor</p>
        </div>
        <div id="profile-info">
            <div class="data d-flex"><i class="fas fa-user-tie"></i><p>Doctor</p></div>
            <div class="data d-flex"><i class="fas fa-envelope"></i><p>doc@gmail.com</p></div>
            <div class="data d-flex"><i class="fas fa-phone-alt"></i><p>(449) 123-45-67</p></div>
        </div>
    </div>
    
    <div class="container-fluid" id="panel-admin">
        <div class="title">
            <h1>Peticiones de Consulta</h1>
        </div>
        <div class="table-responsive" id="table-info">
            <table class="table">
                <thead class="bg-dark">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Operacion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Amaury</td>
                    <td>Romo</td>
                    <td class="op">
                      <a [routerLink]="['/dashboard/doc/view-peticiones/consulta']" routerLinkActive="active"><i class="fas fa-check-square edit"></i></a>
                      <a routerLink="#" routerLinkActive="active"><i class="fas fa-times-circle delete"></i></a>
                    </td>
                  </tr>
                </tbody>
                <!-- <tbody>
                  <tr *ngFor="let nurse of this.nurss,let i = index">
                    <td>{{nurse.Id}}</td>
                    <td>{{nurse.username}}</td>
                    <td>{{nurse.email}}</td>
                    <td class="op">
                      <a [routerLink]="['/dashboard/admin/view-nurse/add-nurse',nurse.Id]" routerLinkActive="active"><i class="fas fa-check-square"></i></a>
                      <a routerLink="#" (click)="elim(nurse.Id)" routerLinkActive="active"><i class="fas fa-times-circle"></i></a>
                    </td>
                  </tr>
                </tbody> -->
            </table>
        </div>
    </div>
</div>
