<header>
  <nav class="navbar navbar-expand-lg  bg-light fixed-top">
    <div class="container-fluid"  id="navigation">
      <a class="navbar-brand" href="#"><i class="fas fa-laptop-medical"></i> Virtual Care</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="active">Home</a>
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Menu</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="container-fluid" id="contact">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h5><i class="fas fa-dragon"></i>Drackode</h5>
        <p>&copy; 2021 | Drackode | Aguascalientes, Mexico</p>
        <br>
      </div>
      <div class="col-sm-12 col-md-3">
        <h5>Contacto</h5>
        <p><i class="fas fa-envelope"></i> dr4ckode@gmail.com </p>
        <p><i class="fa fa-phone"></i>  449-190-47-83 </p>
        <br>
      </div>
      <div class="col-sm-12 col-md-3 social-media">
        <h5>Redes Sociales</h5>
        <a href="https://www.facebook.com/jose.e.mena.14/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/jmena.4/?hl=es-la" target="_blank"><i class="fa fa-instagram"></i></a>
        <br>
      </div>
    </div>
  </div>
</footer>
