<div id="regist-form-doctor">
    <form action="" (submit)="registrar()">
        <div class="f-title">
            <h1>Registro Enfermer@</h1>
        </div>
        <div class="f-subtitle">
            <h2>Cuenta</h2>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="uname">Username:</label>
                <input type="text" id="uname" name="uname" [(ngModel)]="personal.username" placeholder="Username" required>
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" [(ngModel)]="personal.email" placeholder="Ex. vacre@gmail.com" required>
            </div>
            <div class="f-data">
                <label for="vemail">Verify Email:</label>
                <input type="email" id="vemail" name="vemail" placeholder="Ex. vacre@gmail.com" required>
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="pswd">Password:</label>
                <input type="password" id="pswd" name="pswd" [(ngModel)]="personal.password" placeholder="Password" required>
            </div>
            <div class="f-data">
                <label for="vpswd">Verify Password:</label>
                <input type="password" id="vpswd" name="vpswd" placeholder="Password" required>
            </div>
            <hr>
        </div>
        <div class="f-subtitle">
            <h2>Informacion Personal</h2>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" [(ngModel)]="normal.nombre" placeholder="Nombre" required>
            </div>
            <div class="f-data">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" [(ngModel)]="normal.apellido" placeholder="Apellido" required>
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="fnac">Fecha Nac.:</label>
                <input type="date" id="fnac" name="fnac" [(ngModel)]="normal.fecha_nac" required>
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data list" >
                <label id="title-list">Genero:</label>
                
                <label for="hombre">Hombre</label>
                <input type="radio" id="hombre" value="hombre" name="genero" [(ngModel)]="normal.genero"  required>
                <label for="mujer">Mujer</label>
                <input type="radio" id="mujer" mujer="mujer"  name="genero" [(ngModel)]="normal.genero"  required>
                <label for="otro">Otro</label>
                <input type="radio" id="otro" mujer="otro" name="genero" [(ngModel)]="normal.genero"  required>
                
                
            </div>
            <hr>
        </div>
        <div class="f-subtitle">
            <h2>Contacto</h2>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="telf">Telefono (Fijo):</label>
                <input type="tel" id="telf" name="telf" [(ngModel)]="normal.telefono" placeholder="Ex. 1234567" required>
            </div>
            <div class="f-data">
                <label for="telc">Telefono (Celular):</label>
                <input type="tel" id="telc" name="telc" [(ngModel)]="normal.celular" placeholder="Ex. (449) 1234567" required>
            </div>
            <hr>
        </div>
        <div class="f-subtitle">
            <h2>Direccion</h2>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="calle">Calle:</label>
                <input type="text" id="calle" name="calle" [(ngModel)]="address.calle" placeholder="Ex. Lauro Aguirre" required>
            </div>
            <div class="f-data">
                <label for="colonia">Colonia:</label>
                <input type="text" id="colonia" name="colonia" [(ngModel)]="address.colonia" placeholder="Ex. Boulevares" required>
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data sm">
                <label for="calle">Num. Ext:</label>
                <input type="number" id="num-ex" name="num-ex" [(ngModel)]="address.numero" placeholder="Ex. 102" required>
            </div>
            <div class="f-data sm">
                <label for="num-in">Num. Int:</label>
                <input type="number" id="num-in" name="num-in" [(ngModel)]="address.interior" placeholder="Ex. 101">
            </div>
            <div class="f-data md">
                <label for="city">Ciudad:</label>
                <input type="text" id="city" name="city" [(ngModel)]="address.ciudad" placeholder="Ex. Aguascalientes">
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="estado">Estado:</label>
                <input type="text" id="estado" name="estado" [(ngModel)]="address.estado" placeholder="Ex. Aguascalientes" required>
            </div>
            <div class="f-data">
                <label for="pais">Pais:</label>
                <input type="text" id="pais" name="pais" [(ngModel)]="address.pais" placeholder="Ex. Mexico" required>
            </div>
            <hr>
        </div>
        <!--
            Cambiar hasta 
        -->
        <div class="f-subtitle">
            <h2>Informacion Unidad</h2>
        </div>
        <div class="container dflex" >
            <label for="pais">Especialidad:</label>
            <select name="unid" id="unid" [(ngModel)]="selectUnid.nombre">
                <option *ngFor="let espex of unidades;" >{{espex.nombre}}</option>
            </select>
        </div>
        <!--
            <div class="container dflex">
            <div class="f-data">
                <label for="umedic">Unidad Medica:</label>
                <input type="text" id="umedic" name="umedic" placeholder="Ex. AGS-01" required>
            </div>
        </div>
        
        -->
        <input type="submit" id="reg" class="btn btn-primary" value="Registrar">
    </form>
</div>

