<div id="regist-form-doctor">
    <form action="">
        <div class="f-title">
            <h1>Registro</h1>
        </div>
        <div class="f-subtitle">
            <h2>Cuenta</h2>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="uname">Username:</label>
                <input type="text" id="uname" name="uname" placeholder="Username" required>
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Ex. vacre@gmail.com" required>
            </div>
            <div class="f-data">
                <label for="vemail">Verify Email:</label>
                <input type="email" id="vemail" name="vemail" placeholder="Ex. vacre@gmail.com" required>
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="pswd">Password:</label>
                <input type="password" id="pswd" name="pswd" placeholder="Password" required>
            </div>
            <div class="f-data">
                <label for="vpswd">Verify Password:</label>
                <input type="password" id="vpswd" name="vpswd" placeholder="Password" required>
            </div>
            <hr>
        </div>
        <div class="f-subtitle">
            <h2>Informacion Personal</h2>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" placeholder="Nombre" required>
            </div>
            <div class="f-data">
                <label for="apellido">Apellido:</label>
                <input type="password" id="apellido" name="apellido" placeholder="Apellido" required>
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="fnac">Fecha Nac.:</label>
                <input type="date" id="fnac" name="fnac" required>
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data list">
                <label id="title-list">Genero:</label>
                <label for="hombre">Hombre</label>
                <input type="radio" id="hombre" name="genero" required>
                <label for="mujer">Mujer</label>
                <input type="radio" id="mujer" name="genero" required>
                <label for="otro">Otro</label>
                <input type="radio" id="otro" name="genero" required>
            </div>
            <hr>
        </div>
        <div class="f-subtitle">
            <h2>Contacto</h2>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="telf">Telefono (Fijo):</label>
                <input type="tel" id="telf" name="telf" placeholder="Ex. 1234567" required>
            </div>
            <div class="f-data">
                <label for="telc">Telefono (Celular):</label>
                <input type="tel" id="telc" name="telc" placeholder="Ex. (449) 1234567" required>
            </div>
            <hr>
        </div>
        <div class="f-subtitle">
            <h2>Direccion</h2>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="calle">Calle:</label>
                <input type="text" id="calle" name="calle" placeholder="Ex. Lauro Aguirre" required>
            </div>
            <div class="f-data">
                <label for="colonia">Colonia:</label>
                <input type="text" id="colonia" name="colonia" placeholder="Ex. Boulevares" required>
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data sm">
                <label for="calle">Num. Ext:</label>
                <input type="number" id="num-ex" name="num-ex" placeholder="Ex. 102" required>
            </div>
            <div class="f-data sm">
                <label for="num-in">Num. Int:</label>
                <input type="number" id="num-in" name="num-in" placeholder="Ex. 101">
            </div>
            <div class="f-data md">
                <label for="city">Ciudad:</label>
                <input type="text" id="city" name="city" placeholder="Ex. Aguascalientes">
            </div>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="estado">Estado:</label>
                <input type="text" id="estado" name="estado" placeholder="Ex. Aguascalientes" required>
            </div>
            <div class="f-data">
                <label for="pais">Pais:</label>
                <input type="text" id="pais" name="pais" placeholder="Ex. Mexico" required>
            </div>
            <hr>
        </div>
        <div class="f-subtitle">
            <h2>Informacion Curricular</h2>
        </div>
        <div class="container dflex">
            <div class="f-data">
                <label for="cedula">Cedula:</label>
                <input type="text" id="cedula" name="cedula" placeholder="Ex. M123YU768BCSALADC" required>
            </div>
            <div class="f-data">
                <label for="pais">Especialidad:</label>
                <select name="espc" id="espc">
                    <option value="Pediatra">Pediatria</option>
                    <option value="Oculista">Ginecologia</option>
                    <option value="Ortopedista">Ortopedista</option>
                    <option value="Otorrinolaringologo">Otorrinolaringologo</option>
                    <option value="Internista">Internista</option>
                    <option value="Internista">Otra</option>
                </select>
            </div>
        </div>
        <input type="button" id="reg" class="btn btn-primary" value="Registrar">
    </form>
</div>
