<div class="container-fluid" id="panel">
  <div class="container-fluid" id="info-admin">
      <div id="profile-photo" class="d-flex">
          <i class="fas fa-user-cog profile"></i>
          <p>Enfermera</p>
      </div>
      <div id="profile-info">
          <div class="data d-flex"><i class="fas fa-user-tie"></i><p>Enfermera</p></div>
          <div class="data d-flex"><i class="fas fa-envelope"></i><p>enf@gmail.com</p></div>
          <div class="data d-flex"><i class="fas fa-phone-alt"></i><p>(449) 123-45-67</p></div>
      </div>
  </div>
  
  <div class="container-fluid" id="panel-admin">
      <h1>Dashboard</h1>
      <div class="row manage">
          <div class="col-md-6">
              <div class="container manage-card" id="m-1">
                  <a routerLink="/registConsulta" routerLinkActive="active">Form Consulta</a>            
              </div>
          </div>
          <div class="col-md-6">
              <div class="container manage-card" id="m-2">
                  <a routerLink="/dashboard/nurse/add-pacient" routerLinkActive="active">Registrar Paciente</a>            
              </div>
          </div>
      </div>
      <div class="busqueda">
        <h2>Buscar Paciente por CURP:</h2>
        <div class="input-group serach-bar">
            <input type="search" class="form-control rounded" placeholder="CURP del Paciente" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-info">Buscar</button>
        </div>
        <div class="container" id="user-data">
            <div class="f-data d-flex">
                <label for="ids">ID:</label>
                <input type="text" id="ids" name="ids" placeholder="ID">
            </div>
            <div class="f-data d-flex">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" placeholder="Nombre">
            </div>
            <div class="f-data d-flex">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" placeholder="Apellido">
            </div>
        </div>
      </div>
      <div class="receta">
        <h2>Receta Medica: </h2>
        <a class="btn btn-warning" id="recet" aria-current="page" routerLink="/dashboard/nurse/recetas" routerLinkActive="active">Ver Receta</a>
    </div>
  </div>
</div>

