<div class="container-fluid" id="panel">
    <div class="container-fluid" id="info-admin">
        <div id="profile-photo" class="d-flex">
            <i class="fas fa-user-cog profile"></i>
            <p>Admin</p>
        </div>
        <div id="profile-info">
            <div class="data d-flex"><i class="fas fa-user-tie"></i><p>Admin</p></div>
            <div class="data d-flex"><i class="fas fa-envelope"></i><p>vcare@gmail.com</p></div>
            <div class="data d-flex"><i class="fas fa-phone-alt"></i><p>(449) 123-45-67</p></div>
        </div>
    </div>
    
    <div class="container-fluid" id="panel-admin">
        <h1>Dashboard</h1>
        <div class="row manage">
            <div class="col-md-3">
                <div class="container manage-card" id="m-nurse">
                    <a routerLink="/dashboard/admin/view-nurse" routerLinkActive="active">Enfermeras/os</a>            
                </div>
            </div>
            <div class="col-md-3">
                <div class="container manage-card" id="m-doctor">
                    <a routerLink="/dashboard/admin/view-doc" routerLinkActive="active">Doctores</a>            
                </div>
            </div>
            <div class="col-md-3">
                <div class="container manage-card" id="m-ayudante">
                    <a routerLink="/dashboard/admin/view-ayudante" routerLinkActive="active">Ayudantes</a>            
                </div>
            </div>
            <div class="col-md-3">
                <div class="container manage-card" id="m-pacient">
                    <a routerLink="/dashboard/admin/view-patient" routerLinkActive="active">Pacientes</a>            
                </div>
            </div>
        </div>
        <div class="estadisticas d-flex">
            <div id="estd1">

            </div>
            <div id="estd2">

            </div>
        </div>
    </div>
</div>

