<div class="container-fluid" id="panel">
    <div class="container-fluid" id="info-admin">
        <div id="profile-photo" class="d-flex">
            <i class="fas fa-user-cog profile"></i>
            <p>Admin</p>
        </div>
        <div id="profile-info">
            <div class="data d-flex"><i class="fas fa-user-tie"></i><p>Admin</p></div>
            <div class="data d-flex"><i class="fas fa-envelope"></i><p>vcare@gmail.com</p></div>
            <div class="data d-flex"><i class="fas fa-phone-alt"></i><p>(449) 123-45-67</p></div>
        </div>
    </div>
    
    <div class="container-fluid" id="panel-admin">
        <h1>Dashboard</h1>
        <div class="row manage">
            <div class="col-md-3">
                <div class="container manage-card" id="m-nurse">
                    <a routerLink="/dashboard/admin/view-nurse" routerLinkActive="active">Enfermeras/os</a>            
                </div>
            </div>
            <div class="col-md-3">
                <div class="container manage-card" id="m-doctor">
                    <a routerLink="/dashboard/admin/view-ayudante" routerLinkActive="active">Doctores</a>            
                </div>
            </div>
            <div class="col-md-3">
                <div class="container manage-card" id="m-ayudante">
                    <a routerLink="/dashboard/admin/view-ayudante" routerLinkActive="active">Ayudantes</a>            
                </div>
            </div>
            <div class="col-md-3">
                <div class="container manage-card" id="m-pacient">
                    <a routerLink="/dashboard/admin/view-patient" routerLinkActive="active">Pacientes</a>            
                </div>
            </div>
        </div>
        <div class="estadisticas d-flex">
            <div id="estd1">
                <div style="display: block">
                    <p>Num. Doctores por Especialidad</p>
                    <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [plugins]="barChartPlugins"
                      [legend]="barChartLegend"
                      [chartType]="barChartType">
                    </canvas>
                </div>          
            </div>
            <div id="estd2">
                <div class="chart">
                    <p>Numero de Pacientes por Sexo</p>
                    <canvas baseChart
                      [data]="pieChartData"
                      [labels]="pieChartLabels"
                      [chartType]="pieChartType"
                      [options]="pieChartOptions"
                      [plugins]="pieChartPlugins"
                      [colors]="pieChartColors"
                      [legend]="pieChartLegend">
                    </canvas>
                </div>            
            </div>
        </div>
        <div class="estadisticas d-flex">
            <div id="estd3">
                <p>Numero de Consultas por Unidad M.</p>
                <div style="display: block">
                    <canvas baseChart
                      [data]="polarAreaChartData"
                      [labels]="polarAreaChartLabels"
                      [legend]="polarAreaLegend"
                      [chartType]="polarAreaChartType">
                    </canvas>
                </div>            
            </div>
            <div id="estd4">
                <div class="chart">
                    <p>Numero de Pacientes por Edad</p>
                    <canvas baseChart
                      [data]="pieChartData2"
                      [labels]="pieChartLabels2"
                      [chartType]="pieChartType2"
                      [options]="pieChartOptions2"
                      [plugins]="pieChartPlugins2"
                      [colors]="pieChartColors2"
                      [legend]="pieChartLegend2">
                    </canvas>
                </div>              
            </div>
        </div>
        <div class="estadisticas d-flex">
            <div id="estd5">
                <p>Num. de Doctores con 5 Estrellas</p>
                <div style="display: block">
                    <canvas baseChart
                      [datasets]="barChartData2"
                      [labels]="barChartLabels2"
                      [options]="barChartOptions2"
                      [plugins]="barChartPlugins2"
                      [legend]="barChartLegend2"
                      [colors]="colors2"
                      [chartType]="barChartType2">
                    </canvas>
                </div>             
            </div>
        </div>
    </div>
</div>

