<div class="main-content">
  <div class="banner">
    <div class="titles">
      <h1>Encuentra un Doctor Online!!</h1>
      <p class="info">Contamos con doctores 100% certificados y listos para atender a cualquier paciente de cualquier
        lugar del mundo
      </p>
      <input type="button" id="search" class="btn btn-primary" value="Buscar">
      <div class="rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <p class="calif">4,5 Calif.</p>
      </div>
    </div>
  </div>
  <!-- Banner Principal -->

  <section id="pats">
    <div class="pat">
      <i class="fas fa-x-ray"></i>
      <p>x-rays.com</p>
    </div>
    <div class="pat">
      <i class="fas fa-weight"></i>
      <p>Health-care Ags</p>
    </div>
    <div class="pat">
      <i class="fas fa-heartbeat"></i>
      <p>Cardiologia Ags.</p>
    </div>
    <div class="pat">
      <i class="fas fa-procedures"></i>
      <p>Dr. Sueño</p>
    </div>
    <div class="pat">
      <i class="fas fa-virus"></i>
      <p>CSM Covid-19</p>
    </div>
  </section>
  <!-- Patrocinadores/Aliados -->

  <section id="about">
    <div class="p-img">
      <img src="http://pngimg.com/uploads/doctor/doctor_PNG15990.png" alt="doctor" class="img-fluid">
    </div>
    <div class="p-text">
      <h2>Acerca de</h2>
      <p>Somos una comunidad de doctores certificados y especializados para poder realizar consultas medicas a traves de
        <b>Virtual Care</b>, plataforma que brinda las herramientas necesarias para conectar con pacientes de todo el
        mundo que requieren de alguna consulta medica. Virtual Care es una opcion barata y accesible para todo publico
        con acceso a internet.</p>
      <input type="button" id="contact" class="btn btn-primary" value="Contacto">
    </div>
  </section>
  <!-- Acerca De -->

  <section id="join-us">
    <div class="join">
      <div class="p-text">
        <h2>Unete como doctor</h2>
        <p>Virtual Care ofrece la opcion de registro de nuevos doctores. Si estas interesado en formar parte de esta
          gran comunidad de personal medico y brindar tus servicios, no lo dudes y registrate ahora!</p>
          <input type="button" id="regist-doctor" class="btn btn-primary" value="Unete">
          <img src="http://pngimg.com/uploads/doctor/doctor_PNG16025.png" alt="doctors" class="img-fluid">
      </div>
    </div>
    <div class="white-space">
    </div>
  </section>

  <section id="testimony">
    <i class="fas fa-quote-left"></i>
    <div class="comment">
      <div class="c-img">
      </div>
      <div class="c-info">
        <p>Virtual Care me ha brindado la oportunidad de atender mas pacientes que no cuentan con algun personal de
          salud en sus comunidades, ademas de brindarme todas las herramientas necesarias para poder estar al tanto de
          mis pacientes de todas partes del mundo.......</p>
        <blockquote>Dra. Barbie Gonzalez</blockquote>
      </div>
    </div>
  </section>
  <!-- Testimonial -->

</div>
