<div class="main-content">
  <div class="banner">
    <div class="titles">
      <h1>Encuentra un Doctor Online!!</h1>
      <p class="info">Contamos con doctores 100% certificados y listos para atender a cualquier paciente de cualquier
        lugar del mundo
      </p>
      <a id="search" class="btn btn-primary" href="#">Buscar</a>
      <div class="rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <p class="calif">4,5 Calif.</p>
      </div>
    </div>
  </div>
  <!-- Banner Principal -->

  <section id="pats">
    <div class="pat">
      <i class="fas fa-x-ray"></i>
      <p>x-rays.com</p>
    </div>
    <div class="pat">
      <i class="fas fa-weight"></i>
      <p>Health-care Ags</p>
    </div>
    <div class="pat">
      <i class="fas fa-heartbeat"></i>
      <p>Cardiologia Ags.</p>
    </div>
    <div class="pat">
      <i class="fas fa-procedures"></i>
      <p>Dr. Sueño</p>
    </div>
    <div class="pat">
      <i class="fas fa-virus"></i>
      <p>CSM Covid-19</p>
    </div>
  </section>
  <!-- Patrocinadores/Aliados -->

  <section id="about">
    <div class="p-img">
      <img src="http://pngimg.com/uploads/doctor/doctor_PNG15990.png" alt="doctor" class="img-fluid">
    </div>
    <div class="p-text">
      <h2>Acerca de</h2>
      <p>Somos una comunidad de doctores certificados y especializados para poder realizar consultas medicas a traves de
        <b>Virtual Care</b>, plataforma que brinda las herramientas necesarias para conectar con pacientes de todo el
        mundo que requieren de alguna consulta medica. Virtual Care es una opcion barata y accesible para todo publico
        con acceso a internet.</p>
      <a id="contact" class="btn btn-primary" href="#contacto">Contacto</a>
    </div>
  </section>
  <!-- Acerca De -->

  <section id="join-us">
    <div class="join">
      <div class="p-text">
        <h2>Unete como doctor</h2>
        <p>Virtual Care ofrece la opcion de registro de nuevos doctores. Si estas interesado en formar parte de esta
          gran comunidad de personal medico y brindar tus servicios, no lo dudes y registrate ahora!</p>
        <a id="regist-doctor" class="btn btn-primary" href="#">Unete</a>
        <img src="http://pngimg.com/uploads/doctor/doctor_PNG16025.png" alt="doctors" class="img-fluid">
      </div>
    </div>
    <div class="white-space">
    </div>
  </section>
  <!-- Unete -->

  <section id="top-doc">
    <div class="news-title">
        <h2>Noticias</h2>
        <p>Las ultimas noticias y actualizaciones sobre Virtual Care y su comunidad.</p>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://images.unsplash.com/photo-1605684954998-685c79d6a018?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTExfHxkb2N0b3J8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Miles de doctores alrededor del mundo lograron continuar dando
          consultas de forma virtual ayudando a prevenir mas contagios de covid.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://images.unsplash.com/photo-1585559604920-924ba42079bc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDl8fGRvY3RvcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Vortual Care registro mas de 10,000 nuevos registros de doctores de talla intercional
          dentro de su plataforma.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://images.unsplash.com/photo-1609751371270-6568f300a5d6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTMzfHxkb2N0b3J8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Doctores pueden continuar dando sus servicios desde casa, ayudandoles a pasar mas tiempo
          con sus familias.</p>
      </div>
    </div>
  </section>
  <!-- News -->

  <section id="testimony">
    <i class="fas fa-quote-left"></i>
    <div class="comment">
      <div class="c-img">
      </div>
      <div class="c-info">
        <p>Virtual Care me ha brindado la oportunidad de atender mas pacientes que no cuentan con algun personal de
          salud en sus comunidades, ademas de brindarme todas las herramientas necesarias para poder estar al tanto de
          mis pacientes de todas partes del mundo.......</p>
        <blockquote>Dra. Barbie Gonzalez</blockquote>
      </div>
    </div>
  </section>
  <!-- Testimonial -->

</div>
